<p id="notice"><%= notice %></p>
<div style="text-align:center;">
	<p class="username-larger"><%=@user.username %></p>
	<div class="profile-card">
		<div>
			<img class="avatar" src="<%= @user.get_gravatar %>" alt="Avatar">
		</div>
		<div  classstyle="display:flex; flex-direction:column;">
			<p>
		  		<strong>Email:</strong>
		  		<%= @user.email %>
			</p>

			<p>
		  		<strong>Bio:</strong>
		  		<%= @user.bio %>
			</p>

		</div>
	</div>
</div>